<input type="text" name="email" id="email"><br>
<input type="text" name="email2" id="email2"><br>
<span style="cursor: pointer;
    padding: 3px;
    background-color: #e4e0e0;
    font-size: 18px;" id="test">test</span>

