
<span style="cursor: pointer;
    padding: 3px;
    background-color: #e4e0e0;
    font-size: 18px;" id="test">Sent Test</span><br />

<span style="cursor: pointer;
    padding: 3px;
    background-color: #e4e0e0;
    font-size: 18px;" id="sentemail">Sent Email</span><br />

<span style="cursor: pointer;display:none;
    padding: 3px;
    background-color: #e4e0e0;
    font-size: 18px;" id="test2">test2</span><br />

<input id="sessionid" /><br />
<span style="cursor: pointer;
    padding: 3px;
    background-color: #e4e0e0;
    font-size: 18px;" id="test3">Calculate</span><br />
